%h2 Sign up WITH PHONES

= form_for(@user, url: profiles_path) do |f|
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: "form-control"
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off", class: "form-control"
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"

  %hr

  %h3 Phones

  - 3.times do |i|
    .form-group
      = label_tag "Phone #{i} - Number"
      = text_field_tag "phones[][number]", "", class: "form-control" # Name of field

    .form-group
      = label_tag "Phone #{i} - Description"
      = text_field_tag "phones[][description]", "", class: "form-control"

  = f.submit "Sign up", class: "btn btn-primary"
